<!DOCTYPE html>
<html>

<head>
    <title>Forget Password Email</title>
</head>

<body>
<div>
    <h3>{{name}},</h3>
    <p>{{forgot_password_body}}</p>
    <p><a href="{{url}}">{{link_text}}</a></p>
    <br>
    <p>{{footer}}</p>
</div>

</body>

</html>
