<!DOCTYPE html>
<html>

<head>
    <title>Password Reset</title>
</head>

<body>
<div>
    <h3>{{name}},</h3>
    <p>{{reset_password_body}}</p>
    <br>
    <p>{{footer}}</p>
</div>

</body>

</html>