<!DOCTYPE html>
<html>

<head>
    <title>User Created</title>
</head>

<body>
<div>
    <p>firstName: {{firstName}}</p>
    <p>lastName: {{lastName}}</p>
    <p>username: {{username}}</p>
    <p>createdDate: {{createdDate}}</p>
</div>

</body>

</html>
